/* Tu są style kaskadowe CSS */

/* General rules */
@media screen and (max-width: 575.98px) {
	/* rozmiar XS */
	footer {
		font-size: 12px;
	}
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
	/* rozmiar S */
	footer {
		font-size: 14px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
	/* rozmiar M */
	footer {
		font-size: 16px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
	/* rozmiar L */
	footer {
		font-size: 18px;
	}
}

@media screen and (min-width: 1200px) {
	/* Rozmiar XL */
	footer {
		font-size: 20px;
	}
}
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

#container {
	margin: 0 auto;
	width: 1000px;
	border: 3px solid black;
}

img {
	max-width: 100%;
	height: auto;
}

/* Styling elements in listed order */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 15px 20px 15px;
}

.footer {
	display: flex;
	align-items: center;
}
.footer-menu {
	display: flex;
	flex-direction: column;
}
/* brand*/

.brand a,
.brand img {
	display: block;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	font-size: 18px;
	color: black;
	padding: 10px 15px;
	text-decoration: none;
}

.dropdown {
	position: relative;
}

.dropdownList {
	position: absolute;
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 160px;
	background-color: grey;
	display: none;
	border-radius: 5px;
	z-index: 1;
}

.dropdownList li {
	padding: 10px;
	width: 100%;
	height: 100%;
}

.dropdown a:focus + ul,
.dropdown a:hover + ul,
.dropdown ul:hover {
	display: block;
	cursor: pointer;
	border-radius: 5px;
}

.dropdown ul li:hover {
	background-color: orange;
	border-radius: 5px;
}

/* pseudoklasa CSS */
/* najechanie myszką na menu */

nav ul li a:hover {
	color: white;
	background-color: black;
}

/* w3schools CSS pseudo-class */
nav ul li:first-of-type a {
	color: blue;
}

/* Slider */

.slider {
	position: relative;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	overflow: hidden;
}

.sliderImg {
	display: flex;
}

.slide {
	width: 100%;
	flex-shrink: 0;
}

.prev,
.next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	cursor: pointer;
	padding: 10px;
	z-index: 1;
}

.prev {
	left: 0;
}

.next {
	right: 0;
}

/* Main */

main {
	display: flex;
	justify-content: space-between;
}

article {
	width: 70%;
	background-color: rgba(36, 177, 53, 0.354);
	padding: 30px;
}

article img {
	width: 1700px;
	padding: 20px;
}

aside {
	width: 30%;
	padding: 20px;
	background-color: rgba(104, 96, 219, 0.37);
	border-left: 5px dotted black;
}

.widget {
	padding-bottom: 50px;
}

.widget img {
	float: left;
	border: 5px solid blue;
	margin-right: 5px;
	width: 100px;
	padding: 5px;
}

.links ul {
	list-style-type: square;
}

.links ul li {
	padding-bottom: 15px;
}

footer p {
	text-align: center;
	background-color: rgba(165, 42, 42, 0.295);
	padding: 50px;
	margin: 0;
}

/* @media rules */
@media screen and (min-width: 576px) {
	article {
		font-size: 1rem;
		font-size: bold;
		background-color: green;
	}

	aside {
		background-color: cyan;
		font-size: 0.5rem;
	}
}
